.bigbox{
    --disp: 0;
    opacity: var(--disp);
    
    /* Uncomment these for them to appear from the upper centre*/
    /*position: absolute;
    left: calc(50% * (1 - var(--disp)));*/
    
    width: calc(100% * var(--disp));
    height: calc(100% * var(--disp));
    /* height: 100%; */
    transition: opacity 200ms, width 200ms, height 200ms, left 200ms;
}

.littlebox{
    cursor: pointer;
    height: 100%;
    background-color: beige;
    opacity: 0.5;
    transition: scale 200ms;
}

img-tabs{
    /* This is overridden once page loads */
    display: none;
}